%blockquote{id: 'rules'}
  %p 
    Использование этого сайта подразумевает согласие с несложными правилами, 
    которыми запрещены лишь два действия:
    %object
      %ul    
        %li
          %b Размещение детской порнографии
          %p
            В законодательстве большинства стран содержится строгий запрет на создание и хранение подобных материалов.
            Загрузка таких файлов на сайт ставит под угрозу само его существование.
        %li
          %b Вайп
          %p
            Вайп (от англ. 
            %i wipe
            &mdash; стирать, сметать) &mdash; создание большого количества новых тредов, чтобы забить сайт до отказа 
            и тем самым оттеснить вниз и удалить старые треды. 
            %br
            Также в понятие вайпа входит, например, захламление треда бессмысленными сообщениями с целью затруднить
            общение в этом треде. Или же создание нескольких тредов и постоянное их поднятие с целью всегда держать
            на высоте, оттесняя другие треды. Понятное дело, конечно, что формулировка слишком размазанная, но щито поделать.
            %br
            Подобные действия направлены на то, чтобы помешать сайту исполнять свое предназначение, и потому запрещены. 
            Не мешайте общаться другим &mdash; никто не тронет и вас.
  %p
    Сообщения, содержание которых нарушает эти два запрета, удаляются. Если автор нарушает правила повторно, то ему 
    запрещается писать на сайт в течение нескольких дней, в зависимости от тяжести &laquo;преступления&raquo;. 
    Любые прецеденты наказания нарушителей отображены в &laquo;
    %a{href: url_for(controller: 'admin', action: 'show_logs', trailing_slash: true)}<>
      логах модерации
    &raquo;, ничто не скрывается.
  %p
    %b But there's more!
    Хотя никто не удаляет никакие сообщения, за исключением запрещенных описанными выше правилами, администрация сайта
    оставляет за собой право присваивать тэги тредам на свое усмотрение.
  %p
    Также обращаем ваше внимание на то, что на сайте
    %i могут быть
    размещены материалы, запрещенные законодательством вашего государства
    для просмотра несовершеннолетними детьми.
    %br
    Если вы не достигли совершеннолетия, покиньте сайт.
