%center
  #ban_disclaimer
    %h2 
      Извините, к нам сейчас нельзя.
    %br
    .div
      Нас пытались атаковать вайпом глупые люди с порванными задницами, 
      поэтому сейчас включен режим защиты. 
      %br
      Новые сессии не создаются, сайт временно закрыт для новых пользователей.
    = image_tag 'varg.png'